body{
    background-color: black;
}

.wrapper{
    color: white;
    margin: 15%;
    margin-left: 42%;
    margin-right: 42%;
    text-align: center;
    background-color: #1a1a1a;
    border: solid 1px; #1a1a1a;
    border-radius: 50px;
    width: 400px;
}