<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
            {% load static %}
    <link rel="stylesheet" href="{% static 'reg.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Book</h1>
        <form method="post">
{% for field in form %}
    <div class="fieldWrapper">
        {% csrf_token %}
        {{ field.errors }}<br>
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
        <button type="submit">Book</button>
        </form>
    </div>
</body>
</html>